# Required
BOT_TOKEN=8712134415:AAEf8JLlAW4psI_rli8FzqipBy7eVvXrAq8
API_ID=31745120
API_HASH=2024d971812f3af4f59cf993979f5634
DATABASE_URI=mongodb+srv://muttalibkhan75_db_user:SVGkZjWJEw530Bmc@cluster0.fhcsd4l.mongodb.net/?appName=Cluster0
LOG_CHANNEL=-1003954369699
ADMINS=7189366263

# Recommended
CHANNELS=-1003929527032
BIN_CHANNEL=-1004389489591
DATABASE_NAME=Cluster0
COLLECTION_NAME=dreamcinezone_files

# Web and streaming
PORT=8080
FQDN=https://auto-filter-bot-2-v5d0.onrender.com
HAS_SSL=True
NO_PORT=True
STREAM_MODE=True
PREMIUM_STREAM_MODE=False

# Force subscription
AUTH_CHANNELS=-1003976436745
AUTH_REQ_CHANNELS=-1003976436745
REQST_CHANNEL_ID=-1003723890403
SUPPORT_CHAT_ID=-1003771029643
SUPPORT_CHAT=https://t.me/knox_support12

# Optional features
IS_VERIFY=False
MAINTENANCE=False
TMDB_API_KEY=
SHORTENER_WEBSITE=
SHORTENER_API=
